.home
  .row
    .col-sm-12.mb5
      .text-center
        .nav-link
          %h1.home-headline
            = link_to 'Dan Kaplan', root_path

  .main
    .row
      .col-sm-6
        .home-profile-image
      .col-sm-6
        .home-title
          .text-center
            Technologist
          .text-center
            &
          .text-center
            World Traveler
    .row
      .home-subtitle
        .col-sm-4
          .text-center
            = link_to 'About Me', about_path

        .col-sm-4
          .text-center
            = link_to 'Where Am I', where_am_i_path

        .col-sm-4
          .text-center
            = link_to 'My Blog', blog_path

    .row
      .home-subtitle
        .col-sm-12
          .text-center
            = link_to 'My Resume', resume_path
