.main
  .row
    .col-sm-6.col-sm-offset-3
      .about
        %p
          I am a Senior Software Engineer with
          = link_to 'Enova', 'https://www.enova.com/', target: '_blank'
          living in Chicago.

        %p
          I am a full stack developer with extensive experience in Ruby on Rails, Javascript, Ember, Bootstrap, Postgresql, and of course HTML and CSS.

        %p 
          Here is my
          = succeed ',' do
            = link_to 'GitHub', 'https://github.com/dkaplan88', target: '_blank'
          = succeed ',' do
            = link_to 'Resume', resume_url, target: '_blank'
          = succeed ',' do
            = link_to 'LinkedIn', 'https://www.linkedin.com/in/dkaplan88', target: '_blank'
          = succeed ',' do
            = link_to 'Twitter', 'https://twitter.com/_dankaplan/', target: '_blank'
          and check out my
          = succeed '.' do
            = link_to 'Blog', blog_url

        %p
          Outside of work, I am a huge Bulls and Seinfeld fan, love going to comedy shows, hanging out with my friends, and trying new restaurants.

        %p
          Some technologists I look up to are DHH, Sandi Metz, Paul Graham, Uncle Bob, Martin Fowler, and Yehuda Katz.
