.main
  .row
    .col-sm-6.col-sm-offset-3
      .about
        %p
          I am Employee #1, and Head of Engineering at
          = succeed '.' do
            = link_to 'SidePrize', 'https://www.sideprize.com', target: '_blank'
          Currently, I work remotely and am travelling the world with
          = succeed '.' do
            = link_to 'Remote Year', 'http://www.remoteyear.com/', target: '_blank'

        %p
          I have been a Full Stack Developer for 4 years and my development specialities include Ruby on Rails, Javascript, Ember, React, Postgres, and of course HTML/CSS.

        %p
          = link_to 'SidePrize', 'https://www.sideprize.com', target: '_blank'
          allows you to place real money challenges against anyone in your fantasy sports leaugue. I set up our integrations with Fantasy Sports Providers, built out the concept of Proposals and Agreements, built the company admin, built an analytics dashboard, and built our Leagues/History/Challenge Pages off mockups from a designer.

        %p  
          Previously, I worked for
          = link_to 'Enova', 'https://www.enova.com/', target: '_blank'
          (a technology and data analytics driven online lending company operating 11 brands in 6 countries) where I helped tear down a monothilic code base into a SOA structure, created and led a Culture Guild, and worked to Open Source a bunch of our technology including a CMS my team built from scratch.  

        %p
          I was also the #1 Employee at a statup called
          = link_to 'G2 Crowd', 'https://www.g2crowd.com/', target: '_blank'
          (a yelp for enterprise products) where I helped build our patented G2 Growd Grid, built the company admin, and was the lead developer on our SEO optimization strategy.

        %p
          I attended the Unviersity of Wisconsin where I was a double major in Economics & Communication Arts. I came to be a developer 6 months out of college via a coding school,
          = succeed '.' do
            = link_to 'The Starter League', 'http://www.starterleague.com/', target: '_blank' 
          I love working with small teams where I get to utilize my business, marketing, and other diverse skills. 

        %p 
          Here is my
          = succeed ',' do
            = link_to 'GitHub', 'https://github.com/dkaplan88', target: '_blank'
          = succeed ',' do
            = link_to 'Resume', resume_url, target: '_blank'
          = succeed ',' do
            = link_to 'LinkedIn', 'https://www.linkedin.com/in/dkaplan88', target: '_blank'
          = succeed ',' do
            = link_to 'Twitter', 'https://twitter.com/_dankaplan/', target: '_blank'
          and check out my
          = succeed '.' do
            = link_to 'Blog', blog_url

        %p
          Technologists I look up to are DHH, Sandi Metz, Paul Graham, Uncle Bob, Martin Fowler, and Yehuda Katz.
