= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message
  .form_fields
    .title
      = label_tag(:title)
      .title-box= text_field_tag(:title, @post.title)
    .content
      = label_tag(:content)
      .content-box= text_area_tag(:content, @post.content)


  .actions
    = f.submit