.posts
  .row
    .col-sm-4
      = link_to 'See All Posts', blog_url
  .row
    .col-sm-12
      %h3
        = @post.title
  .row
    .col-sm-12.blog-content
      %p= @post.content.html_safe
  - if @post.tags.present?
    .row
      .col-sm-12
        %h4
          Tags
        %p
          - @post.tags.each do |tag|
            - if tag == @post.tags.last
              = link_to tag.name, tag_url(tag)
            - else
              = "#{link_to tag.name, tag_url(tag)},".html_safe
